
# Web Framework
flask

# Database
pyodbc

# Barcode Scanner
pyzbar
opencv-python
numpy

# Authentication
bcrypt

# Translation (OpenFoodFacts API)
deep-translator
requests

# Utilities
python-dotenv

threading